body{
	background-image:url(../img/imgback.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

		/*--- Dash Unit / Used in Dashboard page ---*/
		.dash-unit{
			background-color: #ffffff;
			padding:10px;
			width: 320px;
			height: 180px;
			margin:26px 18px 0px 0px;
			border-radius: 0px;
			float: left;
			border: 1px solid #69f0ae;
			color: black;
			opacity: 0.8;
			border-left:4px solid #00e676;		
			 }

.dash-unit:hover {
	background-color: ##3949AB;
	-moz-box-shadow:    0px 3.4px 2.2p 0px #424242;
    -webkit-box-shadow: 0px 3.4px 2px 0px #424242;
    box-shadow:         0px 3.4px 2px 0px #424242;

}

.dash-unit dtitle {
	font-size:11px;
	text-transform:uppercase;
	color:#ffffff;
	margin:8px;
	padding:0px;
	height:inherit;	
	}
	
.dash-unit hr {
  	border: 0;
  	border-top: 1px solid #151515;
  	border-top-style: dashed;
	margin-top:3px;
}

.dash-unit h1 {
	font-family: 'Raleway', sans-serif;
	font-weight:300;
	font-size: 20px;
	line-height: 2px;
	letter-spacing: 0px;
	color: #ffffff;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;
}

.dash-unit h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 26px;
	letter-spacing: 0px;
	color: #ffffff;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;
}


.dash-unit h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	
	letter-spacing: 0px;

	margin-left:16px;
	margin-top:10px;
	text-align:center;
	
}


.dash-unit p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 200;
	line-height: 12px;
	color: inherit;
	margin: 0 0 10px;
	padding:5px;
        
	text-align: center;
 }

.dash-unit h4 {
	padding-left:5px;
	padding-top: 10px;
	font-size: 19px;
	font-weight:lighter;
	line-height: 1;
	letter-spacing: 0px;
	margin-left: 42px;
	text-align: center;
	font-family: 'Georgia', serif;
}

.dash-unit bold{
	font-family: 'Open Sans', sans-serif;
	font-size:26px;
	font-weight:bold;
	color:#fff;
	vertical-align:middle;
}
.myframe { display:none; }
/* Effect 13: 3D slit */
.modal{
            position: fixed; 
            z-index: 1;  
            left: 10%;
            top: 10%;
            overflow: auto;
            border-radius: 2px;
            opacity: 0.9;
            padding: 18px;
            width: 92%;
            height:570px;
            
		}
		.hide .modal{
			display: none;
		}
		.show .modal{
			display: block;
		}
		.hidden{
			display:none;
		}
.modal-header {
    padding: 16px 16px;
    background-color: #33383e;
    color: white;
}
.modal-footer {
    padding: 4px 16px;
    background-color: #33383e;
    color: white;
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #ffffff;
    color: black;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    
    /*box-shadow: 0 100px 100px 0 rgba(0,0,0,0.2),0 100px 100px 0 rgba(0,0,0,0.19);*/
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.modal h2{
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: bold;
}
.modal h3{
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding-top:2%;
	margin-left: 18px;
}
.modal p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin-left: 120px;
	padding:8px;
	margin-top: -3%;
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
form input[type="submit"] {
background-color: #00838f;
border: none;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
color: #f4f4f4;
cursor: pointer;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;

text-transform: uppercase;
width: 120px;
height: 40px;
text-align: center;


-webkit-appearance:none;


}
form input[type="submit"]:hover{
	background-color: #3939ac;
	-moz-box-shadow:    3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow:         3px 3px 2px 0px #151515;

}
.circle{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-trans-border-radius: 25px;
	-o-border-radius: 25px;
	background-color: white;
	float: left;
	border: 1.8px solid #009688;
	margin-top: 3.2px;


}
.circle1{
	width: 44px;
	height: 43px;
	border-radius: 23px;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	-trans-border-radius: 23px;
	-o-border-radius: 23px;
	background-color: white;
	float: left;
	border: 1.2px solid #009688;


}
.circle p{
	color: #283593;
	text-align: center;
	font-size: 35px;
	line-height: 37px;
	font-family: 'Roboto';
}
.book_btn{
	float: right;
	margin-top: -5.0%;
	
}
#field{
      height: 40px;
      width:100%;
      overflow:auto;
}
#field p{
        line-height: 140%;
}
.note h3{
position: fixed;
bottom: 20px;
color: #00838f;

font-family: 'Roboto';
font-size: 1.5em;

}